.DS_Store

__pycache__/
*.py[codz]
*$py.class


# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py
.venv

/data
*.pkl
resolution_table.csv
resolution_subject_table.csv
subject_table.csv
closure_table.csv
*.log

.vscode
.python-version
