.navbar {
  /* Navbar should have three components, with the middle filling up all
  available space. */
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;

  /* 54px + 4px border bottom = 58px height */
  height: 54px;
  background-color: #1b3357;
  padding-left: 1rem;
  padding-right: 1rem;
  box-sizing: content-box;
  border-bottom: 4px solid #3bc4ff;
  margin-bottom: 1rem;

  /* Slight subtle shadow for visual separation*/
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

  h1 {
    /* Match line height with navbar height to center text vertically */
    line-height: 54px;
    margin: 0;
    padding: 0;
    text-align: center;
    font-weight: 400;
    justify-self: start;

    a {
      color: white;
      text-decoration: none;
    }
  }
}


.navbar-experimental {
  h1 {
    span {
      color: #e7ce41;
      font-size: 0.8rem;
    }
  }
}
